%rebase('osnova.html', naslov='Domov', stran='domov')

<div class="text-center mt-5">

    <h1 class="display-1 fw-bold">
        CompetiDance
    </h1>

    <h3 class="mt-4">
        Dobrodošli v aplikacijo CompetiDance!
    </h3>

    <p class="lead mt-3 text-muted">
        Prijavi. Zapleši. Zablesti!
    </p>

    <p class="mt-5 text-muted">
    Za dodatne informacije o tekmovanjih, pravilnikih in plesnem dogajanju
    obiščite spletno stran
    <a href="https://www.plesna-zveza.si/" target="_blank">
        Plesne zveze Slovenije
    </a>.
    </p>

</div>