%rebase('osnova.html', naslov='Prijava plesalca', stran='tekmovanja')

%if defined('napaka') and napaka:
    <div class="alert alert-danger">
        {{napaka}}
    </div>
%end

<div>
    <h2>Prijava plesalca na tekmovanje</h2>

    <form action="{{url('prijavi_plesalca_post')}}" method="post">

        <label>Plesalec:</label>

        <select name="id_plesalca">

            %for plesalec in plesalci:
                <option value="{{plesalec.id_plesalca}}">
                    {{plesalec.ime}} {{plesalec.priimek}}
                </option>
            %end

        </select>

        <input type="hidden"
               name="id_tekmovanja"
               value="{{id_tekmovanja}}">

        <br><br>

    <label>Kategorija:</label>
    <select name="kategorija">
        <option value="solo">Solo</option>
        <option value="duo">Duo</option>
        <option value="mala skupina">Mala skupina</option>
        <option value="formacija">Formacija</option>
        <option value="par">Par</option>
        <option value="battle">Battle</option>
    </select>

    <br><br>

    <label>Disciplina:</label>
    <select name="disciplina">
        <option value="hip hop">Hip hop</option>
        <option value="jazz">Jazz</option>
        <option value="modern">Modern</option>
        <option value="street dance show">Street dance show</option>
        <option value="disco dance">Disco dance</option>
        <option value="show dance">Show dance</option>
        <option value="breaking">Breaking</option>
        <option value="rock'n'roll">Rock'n'Roll</option>
        <option value="electric boogie">Electric boogie</option>
        <option value="standardni plesi">Standardni plesi</option>
        <option value="latinskoameriški plesi">Latinskoameriški plesi</option>
        <option value="step dance">Step Dance</option>
        <option value="ameriški rokenrol">Ameriški rokenrol</option>
    </select>

    <br><br>

    <label>Starostna skupina:</label>
    <select name="starostna_skupina">
        <option value="otroci">Otroci</option>
        <option value="mladinci">Mladinci</option>
        <option value="člani">Člani</option>
        <option value="člani 2">Člani 2</option>
    </select>

    <br><br>

    <button type="submit" class="btn btn-primary">
        Oddaj prijavo
    </button>

    </form>
</div>